body {
  font-family: 'Open Sans';
  color: black;
  background-color: black;
}

// body::-webkit-scrollbar {
//   width: 12px;
// }

// body::-webkit-scrollbar-thumb {
//   background: linear-gradient(to top, #00ffff, #ff00ec);

//   animation: animate 5s linear infinite;

//   border-radius: 20px;

//   @keyframes animate {
//     0% {
//       background-position: 80% 0%;
//     }
//     50% {
//       background-position: 20% 100%;
//     }
//     100% {
//       background-position: 80% 0%;
//     }
//   }
// }

::-webkit-input-placeholder {
  color: aqua;
  filter: drop-shadow(0 0 20px #00ffff);
}
