body {
  font-family: 'Open Sans';
  color: black;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #00ffff, #ff00ec);

  border-radius: 20px;
}

::-webkit-input-placeholder {
  color: aqua;
  filter: drop-shadow(0 0 20px #00ffff);
}
