.load-more {
  position: fixed;

  bottom: 100px;
  right: 40px;

  width: 80px;
  height: 80px;
  color: aliceblue;
  border-radius: 100%;

  background: radial-gradient(
    circle,
    rgba(196, 20, 195, 1) 12%,
    rgba(0, 255, 255, 1) 33%,
    rgba(29, 11, 28, 1) 61%
  );

  background-size: 400%;
  animation: gradient 10s infinite reverse;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

.is-hidden {
  display: none;
}

// .button {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

// .button.is-hidden {
//   display: none;
// }

// .button > .spinner.is-hidden {
//   display: none;
// }
